{% load static %}
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn mx-auto" data-wow-delay="0.1s" style="max-width: 800px;">
<!--                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Case Study</div>-->
                <h1 class="mb-4">Доступні команди FoxBot</h1>
            </div>
            <div class="row g-3" >

               <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/add_contact_2.jpg' %}" data-fancybox="add_contact" data-caption="Add contact">
                            <img class="img-fluid" src="{% static 'img/project-1.jpg' %}" alt="">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/add_contact_1.jpg' %}" data-fancybox="add_contact" data-caption="Add contact">
                            <small style="font-size: 1.4em;">Add contact</small>
                            <h5 class="lh-base text-white mb-3">Додати контакт</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/search_contact_2.jpg' %}" data-fancybox="search_contact" data-caption="Search contact">
                            <img class="img-fluid" src="{% static 'img/project-2.jpg' %}" alt="">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/search_contact_1.jpg' %}" data-fancybox="search_contact" data-caption="Search contact">
                            <small style="font-size: 1.4em;">Search contact</small>
                            <h5 class="lh-base text-white mb-3">Знайти за контактом</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/change_contact_2.jpg' %}" data-fancybox="change_contact" data-caption="Change contact - контакт змінено">
                            <img class="img-fluid" src="{% static 'img/project-3.jpg' %}" alt="">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/change_contact_1.jpg' %}" data-fancybox="change_contact" data-caption="Change contact">
                            <small style="font-size: 1.4em;">Change contact</small>
                            <h5 class="lh-base text-white mb-3">Змінити за контактом</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <a href="{% static 'img/comand/delete_contact_2.jpg' %}" data-fancybox="delete_contact" data-caption="Delete contact - контакт змінено">
                            <img class="img-fluid" src="{% static 'img/project-4.jpg' %}" alt="">
                        </a>
                        <a class="case-overlay text-decoration-none" href="{% static 'img/comand/delete_contact_1.jpg' %}" data-fancybox="delete_contact" data-caption="Delete contact">
                            <small style="font-size: 1.4em;">Delete contact</small>
                            <h5 class="lh-base text-white mb-3">Видалити за контактом</h5>
                        </a>
                    </div>
                </div>













                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-1.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Add phone</small>
                            <h5 class="lh-base text-white mb-3">Додати телефон до книги</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-2.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Search phone</small>
                            <h5 class="lh-base text-white mb-3">Знайти за телефоном</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-3.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Change phone</small>
                            <h5 class="lh-base text-white mb-3">Змінити за телефоном</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-4.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Delete phone</small>
                            <h5 class="lh-base text-white mb-3">Видилити за телефоном</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-1.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Add email</small>
                            <h5 class="lh-base text-white mb-3">Додати email до книги</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-2.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Search email</small>
                            <h5 class="lh-base text-white mb-3">Знайти за email</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-3.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Change email</small>
                            <h5 class="lh-base text-white mb-3">Змінити за email</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-4.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Delete email</small>
                            <h5 class="lh-base text-white mb-3">Видилити за email</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-1.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Add address</small>
                            <h5 class="lh-base text-white mb-3">Додати адресу до книги</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-2.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Search address</small>
                            <h5 class="lh-base text-white mb-3">Знайти за адресою</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-3.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Change address</small>
                            <h5 class="lh-base text-white mb-3">Змінити за адресою</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-4.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Delete address</small>
                            <h5 class="lh-base text-white mb-3">Видилити за адресою</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-1.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Add birthday</small>
                            <h5 class="lh-base text-white mb-3">Додати д.народження до книги</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-2.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Search birthday</small>
                            <h5 class="lh-base text-white mb-3">Знайти за д.народження</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-3.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Change birthday</small>
                            <h5 class="lh-base text-white mb-3">Змінити за д.народження</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-4.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Delete birthday</small>
                            <h5 class="lh-base text-white mb-3">Видилити за д.народження</h5>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-5.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Add note</small>
                            <h5 class="lh-base text-white mb-3">Додати нотатки до книги</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-5.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Search note</small>
                            <h5 class="lh-base text-white mb-3">Знайти за нотатками</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-5.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Change note</small>
                            <h5 class="lh-base text-white mb-3">Змінити за нотатками</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-5.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Delete note</small>
                            <h5 class="lh-base text-white mb-3">Видилити за нотатками</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-7.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Add tag</small>
                            <h5 class="lh-base text-white mb-3">Додати тєг до книги</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.5s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-7.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Search tag</small>
                            <h5 class="lh-base text-white mb-3">Знайти за тєг</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.7s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-7.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Change tag</small>
                            <h5 class="lh-base text-white mb-3">Змінити за тєг</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.9s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-7.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Delete tag</small>
                            <h5 class="lh-base text-white mb-3">Видилити за тєг</h5>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 wow fadeIn mx-auto" data-wow-delay="0.3s" style="width: 22%;">
                    <div class="case-item position-relative overflow-hidden rounded mb-2" >
                        <img class="img-fluid"  src="{% static 'img/project-8.jpg' %}" alt="">
                        <a class="case-overlay text-decoration-none" href="">
                            <small style="font-size: 1.4em;">Sorting files</small>
                            <h5 class="lh-base text-white mb-3">Сортування файлів</h5>
                        </a>
                    </div>
                </div>



            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>